BODY
{
	background: url('../assets/img/background.jpg') repeat;
	color: #FFF;
	font-family: Muli, sans-serif;
}
#outer-body-wrap
{
	background: url('../assets/img/tyresbg.png') no-repeat center top / 100%;
}
.page-id-56 ARTICLE BUTTON.large
{
	text-align: center;
	margin-top: 35px;
}
.wpcf7-form P
{
	text-align: center;
	font-size: 17.9pt;
}
.wpcf7-form INPUT
{
	/*+border-radius:10px;*/
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding: 23px;
}
INPUT.wpcf7-submit
{
	padding: 14px 13px 13px;
	width: 113px;
	background: #35B4DA;
	border: none;
	color: #FFF;
	font-size: 14.7pt;
}
BUTTON.follanosButton
{
	margin-top: 30px;
}
.seviceplans
{
	text-align: center;
	line-height: 1.5em;
}
#socialTopBar
{
	float: right;
	margin-right: 13px;
}
P.home_email
{
	margin-bottom: 0;
}
P.home_email A
{
	color: #FFF;
}
@media only screen and (max-width: 40em)
{
	P.home_email A
	{
		font-size: 9.5pt;
	}
	#testimonials .bjqs-controls A IMG
	{
		width: 50%;
	}
	.testimonials LI.bjqs-next A IMG
	{
		margin-left: 68px !important;
		width: 20px !important;
	}
	#testimonials LI.bjqs-next A
	{
	}
}
TIME
{
	font-size: 14px;
	color: #808080;
	font-style: italic;
	padding-bottom: 49px;
}
HEADER
{
	margin-bottom: 24px;
}
.top-bar LI.divider
{
	border-left: 1px dotted #282828;
	border-right: 0;
}
.top-bar LI A
{
	height: 51px;
	line-height: 51px !important;
}
.top-bar-section UL
{
}
NAV.top-bar
{
	background: none;
	height: 51px;
}
H2
{
	color: #FFF;
	font-size: 19.7pt;
}
.hentry H2 A
{
	font-size: 29.7pt;
	color: #FFFFFF;
}
.logo H2
{
	margin-top: 16px;
}
@media only screen and (max-width: 40em)
{
	.logo H2
	{
		font-size: 15px;
	}
}
#inner-body-wrap
{
	background: url('../assets/img/BG_Glow.png') no-repeat center 100px / 50%;
}
.page-template-page-full-php SECTION.container
{
	margin-top: 37px;
	padding-top: 21px;
	border-top: 1px dotted #FFFFFF;
}
.blog .container, .single .container
{
	margin-top: 48px;
}
.entry-content .alignright
{
	float: right;
	margin: 0 0 15px 15px;
}
.address
{
	margin-top: 30px;
	border-bottom: 1px solid #FFF;
}
.openinghours P, .address P, .openinghours H2, .address H2
{
	text-align: center;
}
@media only screen and (max-width: 40em)
{
	.entry-content IMG
	{
		width: 100%;
	}
}
.entry-content .alignnone
{
	margin: 15px;
}
.entry-content .alignleft
{
	float: left;
	margin: 0 15px 15px 0;
}
.entry-content IMG
{
	padding: 10px;
	background-color: #FFF;
	border: 1px solid;
}
FIGURE
{
	text-align: center !important;
}
NAV.tab-bar SECTION.tab-bar-section
{
	right: 0;
}
#mobileNav A
{
	color: #FFF;
	font-size: 11px;
	background: #3D3D3D;
	padding: 6px;
	/*+border-radius:29px;*/
	-moz-border-radius: 29px;
	-webkit-border-radius: 29px;
	-khtml-border-radius: 29px;
	border-radius: 29px;
}
#mobileNav
{
	float: right;
}
P.feat-content
{
	text-align: center;
}
@media only screen and (max-width: 40em)
{
	P.feat-content
	{
		padding: 0 30px;
	}
}
P.featimage
{
	text-align: center;
	min-height: 143px;
}
.top-bar-section UL
{
	background-color: transparent;
}
.top-bar-section LI:not(.has-form) A:not(.button)
{
	background-color: transparent;
}
.top-bar-container
{
	background: url('../assets/img/topbar_bg.jpg');
	height: 51px;
}
.HeaderRightmj P
{
	text-align: right;
}
DIV.logo
{
	text-align: center;
}
#slider
{
	margin-top: 20px;
}
.button-large A, .button-small A
{
	text-align: center;
	color: #FFF;
	/*+text-shadow:1px 1px 1px #000;*/
	-moz-text-shadow: 1px 1px 1px #000;
	-webkit-text-shadow: 1px 1px 1px #000;
	-o-text-shadow: 1px 1px 1px #000;
	text-shadow: 1px 1px 1px #000;
	text-transform: uppercase;
	width: 219px;
	display: inline-block;
	font-size: 15px;
	line-height: 51px;
	background: url('../assets/img/button_large.png') 0% / contain;
}
.button-large, .button-small
{
	text-align: center;
}
.button-small A
{
	width: 158px;
	height: 37px;
	line-height: 38px;
	font-size: 14px;
}
#my-slideshow H2
{
	text-align: center;
	/*+text-shadow:1px 1px 1px #000;*/
	-moz-text-shadow: 1px 1px 1px #000;
	-webkit-text-shadow: 1px 1px 1px #000;
	-o-text-shadow: 1px 1px 1px #000;
	text-shadow: 1px 1px 1px #000;
}
H1, H2, H3, H4, H5, H6
{
	font-family: Muli, sans-serif !important;
}
#eModal-2 H2
{
	color: #0D0D0D;
}
H1.follanosServices
{
	color: #FFF;
	font-size: 20.8pt;
	background-color: #007395;
	padding: 12px;
	/*+border-radius:10px;*/
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	text-align: center;
}
.gold
{
	color: #F5E43F;
}
.silver
{
	color: #959594;
}
.bronze
{
	color: #D3A91C;
}
H1.entry-title
{
	color: #FFF;
}
.centerme
{
	text-align: center;
}
ARTICLE.widget H6
{
	color: #FFF;
	font-size: 15pt;
	background-color: #9B9C9B;
	padding: 5px;
	text-transform: uppercase;
}
HEADER H2
{
	line-height: 1em;
}
.feature-boxes H2
{
	text-align: center;
	font-size: 31.4pt;
	margin: 27px 0;
}
.map
{
	margin-top: 44px;
}
.testimonials
{
	margin-top: 41px;
}
.bywhom
{
	text-align: center;
	font-size: 1.6em;
	color: #A4A4A4;
	font-style: italic;
}
.quote
{
	font-size: 1.8em;
	line-height: 1.2em;
	text-align: center;
}
@media only screen and (max-width: 40em)
{
	.quote
	{
		font-size: 18px;
	}
}
.quote:before
{
	content: open-quote;
}
.quote:after
{
	content: close-quote;
}
#testimonials LI DIV DIV
{
	padding: 0 60px;
}
@media only screen and (max-width: 40em)
{
	#testimonials LI DIV DIV
	{
		padding: 0 20px;
	}
}
#testimonials LI DIV DIV
{
	font-style: italic;
}
#mobileNav #socialTopBar A
{
	background: none !important;
}
#mobileNav #socialTopBar IMG
{
	height: 22px;
}
.modal .title
{
	text-align: center !important;
	margin-bottom: 10px !important;
	font-size: 30px !important;
}
